.titles-list {
  float: left;
  width: 49%;
}

.title-details {
  float: right;
  width: 49%;
}

.titles-app {
  margin: 40px 50px 40px 50px;
}

.list {
  padding-left: 15px;
}

.label {
  font-weight: bold;
}